

<!doctype html>
<html>
  <head>
    <title>Subir archivos</title>
  </head>
  <body>
    <h1>Upload file</h1>
    <form method="POST" action="" enctype="multipart/form-data">
      <p><input type="file" name="file"  ></p>
      <label for="folder">file directory:</label>
      <p><input type="text" name="folder" required ></p>      
      <label for="clave">password:</label>
      <p><input type="text" name="clave" required ></p> 
      <p><input type="submit" value="Submit"></p>
    </form>
  </body>
</html>



<!--
<!doctype html>
<html>
  <head>
    <title>File Upload</title>
  </head>
  <body>
    <h1>File Upload</h1>
    <form method="POST" action="" enctype="multipart/form-data">
      <p><input type="file" name="file"></p>
      <p><input type="submit" value="Submit"></p>
    </form>
  </body>
</html>